.gradle/
.build/
.idea/
**/.cxx/
**/build/
local.properties
dependency-resolution/
.DS_Store
plugins/*/render-tests/cache.db
plugins/*/render-tests/results/*
!plugins/*/render-tests/results/.gitkeep
plugins/*/render-tests/**/actual.png
plugins/*/render-tests/**/diff.png
